body{
    font-family: Verdana, Geneva, Tahoma, sans-serif; color:#6F6F6F;     
    /*background: linear-gradient(to bottom, #DBDBDB, #000179, #DBDBDB, #000179);*/
    background-image: url(images/lvp_project.png);
    background-repeat: no-repeat;
    background-attachment: fixed;    
}
nav{
    text-align: center;
    /*position: fixed;
    width: 980px;
    background-color: #f3efef;  */
}
.imgShadow{
    box-shadow: 2px 2px 2px #000179;
    border-radius:15px;
    margin-top: 10px;
    margin-bottom: 20px;
}
#mainContent{    
    box-shadow: 1px 2px 2px 2px #000179;
    border-radius: 15px;
    padding: 15px;
    width: 980px;    
    margin-right: auto;
    margin-left: auto;        
    background-color: rgba(243, 239, 239, .9);    
}
#mainPrincipal{
    width: 780px;    
}
main {
    width: 860px;
    margin-right: auto;
    margin-left: auto;
}
#mainContentWide{    
    box-shadow: 1px 2px 2px 2px #000179;
    border-radius: 15px;
    padding: 15px;
    width: 1324px;    
    margin-right: auto;
    margin-left: auto;        
    background-color: rgba(243, 239, 239, .9);    
}
#mainProperties {
    width: 1100px;
    margin-right: auto;
    margin-left: auto;
}
table#mainTable{
    border: 1px solid #000179;    
    border-radius: 10px;
    box-shadow: 1px 1px 3px #000179;
    padding: 15px;
}
table td.leftSideTbl {
    vertical-align: top;    
    width: 38%;               
}
label{
    font-weight: bold;
    margin-left: 2px;
}
input[type="text"]  {        
    opacity: 60%;
    border: none;
    border-bottom: 1px solid #4e4d4d;
}
input[type="tel"]  {        
    opacity: 60%;
    border: none;
    border-bottom: 1px solid #4e4d4d;
}
input[type="email"]  {        
    opacity: 60%;
    border: none;
    border-bottom: 1px solid #4e4d4d;
}
input[type="email"]  {        
    opacity: 60%;
    border: none;
    border-bottom: 1px solid #4e4d4d;
}
textarea   {            
    opacity: 60%;
    border-bottom: 1px solid #4e4d4d;
}
select {
    opacity: 90%;
    border: none;
    border-bottom: 1px solid #4e4d4d;
    width: 30%;
    font-family: Verdana, Geneva, Tahoma, sans-serif; color:#4e4d4d;     
 }
 input[type="number"]{
    opacity: 90%;
    border: none;
    border-bottom: 1px solid #4e4d4d;
 }
input[name="txtFirstName"] {
    width: 70%;
}
input[name="txtLastName"] {    
    width: 64.1%;
}
input[name="txtPhoneNumber"] {
    width: 53.8%;
}
input[name="txtAddress"] {
    width: 76%;
}
input[name="optPersonType"] {        
    width: 10%;
} 
input[name="txtEmail"] {    
    width: 76%;
} 
select[name="propertyType"] {        
    margin-left: 10%;
    width: 150px;
    text-align: center;
} 
input[name="propertyFloor"] {    
    margin-left: 10%;
    width: 21.5%;
    text-align: right;
} 
input[name="propertyBathrooms"] {    
    margin-left: 2%;
    width: 13%;
    text-align: right;
} 
select[name="propertySize"] {        
    margin-left: 11%;
    width: 100px;
    text-align: center;
} 
input[name="propertyRooms"] {    
    margin-left: 8.5%;
    width: 17.7%;
    text-align: right;
} 
input[name="propertyParking"] {    
    margin-left: 0%;
    width: 7.5%;
    text-align: right;
} 
#propertyJacuzzi{
    margin-right: 38%;
} 
#propertyWCloset{
    margin-right: 23%;
} 
#propertyConditioner{
    margin-right: 5.1%;
} 
#propertyBalcony{
    margin-right: 44.8%;
} 
#propertyMClosets{
    margin-right: 26.9%;
} 
#propertyWFilter{
    margin-right: 12.9%;
} 
input[name="txtBestThing"] {
    width: 98%;
}
input[name="txtImprove"] {
    width: 98%;
}
.switch {
    margin-left:15px;
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
  }
.switch:focus {    
    border: 3px 3px 3px 3px solid #000000;
  }
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 0.5px;
  bottom: 0.5px;  
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}  
input:checked + .slider {
  background-color: rgba(0,1,121,0.8);
}
input:focus + .slider {
  box-shadow: 0 0 1px rgba(0,1,121,0.8);
}  
input:checked + .slider:before {
  -webkit-transform: translateX(11px);
  -ms-transform: translateX(11px);
  transform: translateX(14px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.spaceRd{
    margin: 20px;
}
.spaceRdWhole{
    margin: 25px;
}
.topSpace{
    padding-top: 1em;
}
.everyQuestion > td{
    padding-bottom: 1em;
}
.otherQuestion > td{
    padding-bottom: 0.5em;
}
.importantMsg{
    font-weight: bold;
}
.finalMsg{
    text-align: center;
    font-style: italic;
    padding-top: 0%;
    padding-bottom: 0%;        
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: smaller;
}
.lblYear{
    margin-left: 15%;
    margin-right: 15px;
}
h1 {
    color: #000179;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
    font-variant: small-caps;
    text-transform: capitalize;  
    text-align: center;  
    padding: 1px;
    margin: 2px;
}
h2 {
    color: #000179;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    font-variant: small-caps;
    text-transform: capitalize;       
}
h3 {
    /*color: #6B6B00;*/
    color: #696868;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    font-variant: small-caps;
    text-transform: capitalize;  
    text-align: left;      
    display:inline;         
}
h4 {
    color: #000179;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    font-variant: small-caps;
    text-transform: capitalize;  
    text-align: left;          
    text-decoration: underline;
}
h5 {
    /*color: #6B6B00;*/
    color: #d1cfcf;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    font-variant: small-caps;
    text-transform: capitalize;  
    text-align: left;      
    display:inline;         
}
.h7{
    color: #000179;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    font-variant: small-caps;
    text-transform: capitalize;  
    text-align: left;          
    text-decoration: underline;
    display:inline;  
}
.twoColumns {    
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;    
}
.thumbnailImage{
    margin-top:20px; 
    margin-left:20px; 
    margin-right:8px;
    border-radius: 10px;
    box-shadow: 1px 3px 5px rgba(0,1,121,0.8);;
}
.thumbnailImageSh{
    margin-bottom: 15px;    
    border-radius: 10px;
    box-shadow: 1px 3px 5px #000;
}
.justified{
    text-align: justify;
}
.subHeading{
    text-decoration: none;
    color: #e4e9e0;
    background-color: rgba(0,1,121,0.7);
    border-radius: 3px;
    padding-top: 1px;
    padding-right: 10px;
    padding-left: 5px;     
    padding-bottom: 1px;            
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);          
}
.bottomSpace{
    padding-bottom: 200px;
}
hr{
    border-style:solid; 
    border-color:#000179; 
    border-width:2px;
    margin-left: 18px; 
    margin-right:18px;
}
#divisorSp{
    border-style:solid; 
    border-color:#000179;     
    width: 850px;
    margin-right: auto;
    margin-left: 0px;
}
#logo{
    text-align: center;        
}
#logoImg{        
    background: linear-gradient(55deg,#DBDBDB, #FFFFFF 2%, #DBDBDB);
    text-align: center;       
    box-shadow: 1px 3px 5px #000179;
    /*padding: 15px 60px 15px 60px;     */
    border-radius: 20px;    
    width:230px;      
}
#logoImgCredits{
    text-align: center;       
    box-shadow: 1px 2px 3px #000179;
    padding: 10px 10px 10px 10px; 
    margin-top: 10px;  
    margin-left: 20px;  
    border-radius: 5px;
    float: right;
}
.center{
    text-align: center;
}
.right{
    text-align: right;
    margin-right: 40px;
}
.agentInfo{
    list-style-type: none;    
    padding-inline-start: 1px;        
}
.spaceLeft{
    padding-left: 10px;
}
#profile{
    padding-left: 50px; 
    padding-right: 60px;
}
#availableProperties {
    border: medium solid #9797e4;
    border-spacing: 0pc;    
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif; color:#303030;         
    box-shadow: 2px 3px 7px rgba(0,1,121,0.8);;
}
.titRow{    
    background-color:rgba(0,1,121,0.9);
    color: lightgray;    
    font-weight: bold;
    text-align: center;
}
.oddRow{    
    background-color:rgba(126,126,202,0.7);
}
.evenRow{    
    background-color:rgba(151,151,228,0.5);
}

.starRating{
    padding: 2px 0px 0px 0px;
}
.leftSide{
    width: 55%;      
}
.leftSide2{
    padding-left: 5%;    
    width: 45%;      
}
.leftSideImg{
    padding-left: 10%;    
    width: 70%;      
}
.bulletTable{
    display: list-item;         
    list-style-type: disc;      
    list-style-position: inside;
}
.rightSide2{    
    padding-right: 4.5%;          
}
#ratingNum{
    padding-left: 23px;
    font-size: 0.9em;
}
.message {
    margin-bottom: 15px; 
}
.user {
    float:left; 
    font-weight:bold; 
    color:rgb(49, 49, 146); 
    margin-bottom: 5px; 
}
.gifBullets{
    list-style-image: url(images/animated-bullet-15.gif);
}
footer{
    text-align: center;
}
.footerStyle{
    margin-top: 500px; 
}
.smallLink{    
    text-align: right;    
    font-size: small;    
}
.menu {
    text-decoration: none;
    color: #e4e9e0;
    background-color: #000179;
    border-radius: 3px;
    padding-top: 5px;
    padding-right: 20px;
    padding-left: 20px;     
    padding-bottom: 5px;
    font-weight: 900;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.menu:hover{
    color: #000179;
    background-color: #9797e4;
}
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000179;    
    min-width: 169px;    
    border-radius: 3px;
    padding-top: 7px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: #e4e9e0;
    font-weight: 900;
    font-size: 0.9em;
    padding: 7px 72.5px 7px 65px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: #000179;
    background-color: #9797e4;
}

.dropdown:hover .dropdown-content {display: block;}


#reader {
    float: left;    
    font-style:italic;   
}

#reader ol {
    margin: 0;
    padding: 0;
}

#reader li {
    list-style: none outside none;
	margin-bottom:6px;
}

#reader .comment_box {
    background: none repeat scroll 0 0 #F6F6F6;
    float: left;
    margin-bottom: 20px;
    padding: 5px;
	box-sizing: content-box;
	border: 1px solid #CCCCCC;
	width:98%;
    box-shadow: 1px 1px 3px #000179;
    border-radius: 5px;	
}

#reader .comment_box img {
    border: 1px solid #C9C9C9;
    box-shadow: 0 2px 7px #DFDFDF;
    margin-right: 10px;
    padding: 3px;    
	float:left;
	width:48px;
	height:48px;
    border-radius: 5px;
}

#reader .comment-meta {
    margin-bottom: 4px;
    overflow: auto;
}

#reader .commentsuser {
    float: left;
	font-size: 12px;
	color: #000000;
	font-weight:bold;
}
#reader .comment_date {
    float: right;
    font-size: 12px;
	color:#000;
}

#reader .comment-body {
    color: #848484;
    font-size: 12px;
}
.gallery
{
    position: absolute; 
}
.gallery ul
{
    list-style-type: none; width: 300px;
}
.gallery li
{
    display: inline; float: left; padding: 10px;
}
.gallery img
{
    border-radius: 5px;
}
.gallery a
{
    text-decoration: none;
    font-style: italic;
    color: #333;
}
.gallery span
{
    display: none;
}
.gallery a:hover span
{
    display: block;
    position: absolute;
    top: 10px;
    left: 300px;
    text-align: center;
}